@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-secondary:  #0bfddd;
}
.customized-btn {
    @apply font-bold btn rounded-full bg-gradient-to-r from-violet-800 to-slate-900 text-white/80 text-lg p-6 hover:bg-gradient-to-l border-0
}


.spining-card {
    background: linear-gradient(#ffffff, #0bfddd);
    animation: spin 7s linear infinite;
    width: calc(50% + 1px);
    height: calc(100% + 200px);
    top: -20%;
    left: 20%;
    z-index: -1;
}